.css-rsw54y {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 2.5rem;
    width: 1000px;
}

.css-1mvlb0p {
    text-align: center;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.css-163onbt {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity));
    font-size: 1.5rem;
    line-height: 2rem;
}

.css-1mmfi3q {
    margin-left: auto;
    margin-right: auto;
    width: 24rem;
}

.css-12ih1hh {
    border-width: 1px;
    padding: 1rem;
    border-radius: 0.25rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    display: flex;
}

.css-12ih1hh:hover {
    border-width: 1px;
    border-color: blue;
}

.css-hbjzqk {
    margin-right: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(156, 163, 175, var(--tw-text-opacity));
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.css-1ki1932 {
    outline: transparent solid 2px;
    outline-offset: 2px;
    appearance: none;
    flex: 1 1 auto;
}

.css-1gg6c52 {
    border-bottom-width: 1px;
    margin-bottom: 0.5rem;
}

.css-314frj {
    padding: 0.75rem;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    border-radius: 0.25rem;
    outline: transparent solid 2px;
    outline-offset: 2px;
    appearance: none;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
    cursor: pointer;
}

.css-1dbdrbw {
    padding: 0.75rem;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    border-radius: 0.25rem;
    outline: transparent solid 2px;
    outline-offset: 2px;
    appearance: none;
    font-weight: 500;
    cursor: pointer;
}

.css-314frj:hover {
    background-color: #EFEFEF;
}

.css-1dbdrbw:hover {
    background-color: #EFEFEF;
}

.css-zgarh3 {
    border-width: 1px;
    border-radius: 0.375rem;
    --tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    padding: 1.25rem;
}

.css-1ki1932 {
    outline: transparent solid 2px;
    outline-offset: 2px;
    appearance: none;
    flex: 1 1 auto;
}

.css-10w6wn7 {
    padding: 1.25rem;
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.css-8yzqw8 {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity));
    font-weight: 500;
}

.css-8ftd31 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
